<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="euchre.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="&lt;log&gt;&lt;date&gt;%date{yyyy-MM-dd HH:mm:ss}&lt;/date&gt;&lt;class&gt;%class&lt;/class&gt;&lt;method&gt;%method&lt;/method&gt;&lt;level&gt;%level&lt;/level&gt;&lt;message&gt;&lt;![CDATA[%message]]&gt;&lt;/message&gt;&lt;/log&gt;%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>